PORT = 3000 # Port to run the application on, default is 3000

MINUTES_LIMIT = 1 # Number of minutes to limit requests to the API, default is 15
MAX_REQUESTS = 3 # Maximum number of requests allowed within the time limit, default is 100